{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "useTabs": true,
    "tabWidth": 2,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "parser": "typescript",
    "endOfLine": "crlf",
    "embeddedLanguageFormatting": "off"
}
